#container{
    width: 300px;
    height: 300px;
    border: 1px solid black;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.panel-dark, .panel-light{
    width: 500px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
}

.panel-light{
    color: #222;
    background: #fff;
}   

.panel-dark{
    color: #fff;
    background: #222;
}

.button-dark, .button-light{
    border: 1px solid #777;
    padding: 6px;
    margin-right: 10px;
    margin-top: 10px;
}

.button-dark{
    color: #222;
    background: #fff;
}

.button-light{
    color: #222;
    background: #fff;
}